<div class="algo-container" layout="column" layout-align="start center" md-theme="algo" ap-md-color="{'background-color': 'algo::primary'}">
    <md-tabs md-border-bottom md-selected="vm.activeTabIndex">
        <md-tab label="TSP">
            <div class="algo-wrapper">
                <route-draw></route-draw>
            </div>
        </md-tab>
        <md-tab label="k-Means">
            <div class="algo-wrapper">
                <k-mean></k-mean>
            </div>
        </md-tab>
        <md-tab label="VRP">
            <div class="algo-wrapper">
                <vrp-draw></vrp-draw>
            </div>
        </md-tab>
    </md-tabs>
</div>
<div>WTF???</div>