
.red-back {
    background-color: #F44336;
}
.blue-back {
    background-color: #2196F3;
}
.orange-back {
    background-color: #FF9800;
}
.lime-back {
    background-color: #8BC34A;
}
.purple-back {
    background-color: #9C27B0;
}
.aqua-back {
    background-color: #009688;
}
.yellow-back {
    background-color: #FFC107;
}
.green-back {
    background-color: #4CAF50;
}
.pink-back {
    background-color: #E91E63;
}
.cyan-back {
    background-color: #00BCD4;
}