.algo-container {
    flex: auto;
}
.algo-container > md-tabs {
    background-color: #FFFFFF;
    height: 100%;
    min-width: 880px;
    max-width: 90vw;
}
.algo-wrapper {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: 16px 24px;
}
.algo-controls {
    flex: 0 0 160px;
    min-height: 160px;
}
.algo-benchmark {
    flex: 0 0 80px;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.algo-best-route {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 56px;
}
.algo-best-route > div {
    box-sizing: border-box;
    min-width: 40px;
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .06);
    margin: 4px;
    padding: 4px;
    font-size: 1rem;
}
.algo-benchmark > div {
    flex: 0 0 15%;
    box-sizing: border-box;
    align-self: stretch;
    text-align: center;
    font-size: 1.1rem;
}
.algo-draw-scroller {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
route-draw, k-mean {
    flex: auto;
    display: flex;
    flex-direction: column;
}
.route-draw-container {
    flex: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    min-width: 848px;
    min-height: 848px;
}
.route-point {
    box-sizing: border-box;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    margin-top: -3px;
    border-radius: 50%;
    border: 1px solid #FF9800;
    position: absolute;
    z-index: 500;
}
.route-point.route-point-first {
    background-color: #689F38;
}
.route-point.route-point-last {
    background-color: #D32F2F;
}
.route-point > span {
    font-size: 1rem;
    margin-top: -10px;
}
.route-info {
    position: absolute;
    top: -32px;
    left: 8px;
    right: 8px;
    padding: 8px;
    color: rgba(0, 0, 0, .78);
    font-size: 1rem;
    z-index: 15;
}
.route-current-search, .route-solution {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
}
.route-solution {
    background-color: rgba(255, 255, 255, .5);
}
.route-solution.focused-solution {
    background-color: rgba(255, 255, 255, 1);
    /*box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);*/
    z-index: 200;
}
.route-current-search {
    z-index: 25;
}
.algo-solutions {
    flex: 0 0 56px;
    min-height: 56px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, .78);
    font-size: 1.1rem;
    line-height: 28px;
}
.legend-bullet {
    width: 12px;
    height: 12px;
    overflow: hidden;
    border-radius: 100%;
    margin: 8px;
}



